[Unit]
Description=Run sshd-selfheal every 60s

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=sshd-selfheal.service

[Install]
WantedBy=timers.target
